---
title: Essays
layout: main
pagination:
  data: collections.essays
  size: 10
  alias: essays
  reverse: true
eleventyExcludeFromCollections: true
---
<p>A collection of my daily essays</p>
{% for essay in essays %}
<div class=blog-link>
<a href="{{essay.url}}">{{ essay.data.title }}</a>
</div>
<hr>
{% endfor %}

<p>
{% if pagination.href.previous %}
<a href=" {{ pagination.href.previous }}">Previous</a>
{% else %}
Previous
{% endif %} 
/ 
{% if pagination.href.next %}
<a href=" {{ pagination.href.next }}">Next</a>
{% else %}
Next
{% endif %}
</p>